<?xml version='1.1' encoding='UTF-8'?>
<jenkins.model.JenkinsLocationConfiguration>
  <adminAddress>no-reply@{{ jenkins_hostname }}</adminAddress>
  <jenkinsUrl>https://{{ jenkins_hostname }}{{ jenkins_prefix }}/</jenkinsUrl>
</jenkins.model.JenkinsLocationConfiguration>
