.idea/
.git
*passwords
apim.priv.key
*.key
*.crt
.build
.project/
.settings/

*.cer
*/*.cer
*/*/*.cer
*/*/*/*.cer
*/*/*/*/*.cer

*.key
*/*.key
*/*/*.key
*/*/*/*.key
*/*/*/*/*.key

*.crt
*/*.crt
*/*/*.crt
*/*/*/*.crt
*/*/*/*/*.crt

*passwords
*/*passwords
*/*/*passwords
*/*/*/*passwords
*/*/*/*/*passwords

build/
tmp/