*.pyc
.project
.pydevproject
.idea/
*passwords
apim.priv.key
*.key
*.crt
*.cer
*.vagrant
*.iml
build/
tmp/
deploy/inventory
deployer-validation.bash
jupyterhub-swarm.bash
*.retry
deploy/host_files/*_hosts
!deploy/host_files/sandbox_hosts
!deploy/host_files/vagrant_hosts

deploy/roles/fluentd
local/vagrant/4-host
local/vagrant/3-host
local/vagrant/2-host
local/vagrant/2-host/Vagrantfile
local/vagrant/3-host/Vagrantfile
