{
  "name": "Abaco",
  "version": "v2",
  "path": "/actors",
  "url": "http://abweb.staging.agaveapi.co/actors",
  "visibility": "restricted",
  "roles": ["Internal_abaco-user"],
  "methods": ["GET", "POST", "PUT", "DELETE", "HEAD"],
  "auth": "oauth"
}