{
  "name": "Realtime",
  "version": "v2",
  "path": "/realtime",
  "url": "http://{{ tenant_id }}.api.{{ agave_env }}.agaveapi.co/realtime",
  "visibility": "public",
  "roles": [],
  "methods": ["GET", "PUT", "POST", "HEAD", "DELETE"],
  "auth": "oauth"
}
