{
  "name": "Tags",
  "version": "v2",
  "path": "/tags",
  "url": "http://{{ tenant_id }}.api.{{ agave_env }}.agaveapi.co/tags",
  "visibility": "public",
  "roles": [],
  "methods": ["GET", "PUT", "POST", "HEAD", "DELETE"],
  "auth": "oauth"
}