{
  "name": "Tenants",
  "version": "v2",
  "path": "/tenants",
  "url": "http://{{ tenant_id }}.api.{{ agave_env }}.agaveapi.co/tenants",
  "visibility": "public",
  "roles": [],
  "methods": ["GET", "HEAD"],
  "auth": "none"
}
