{
  "name": "Tenants",
  "version": "v2",
  "path": "/tenants",
  "url": "{{ core_api_protocol }}://{{ tenant_id }}.api.{{ agave_env }}.agaveapi.co:{{ core_api_port }}/tenants",
  "visibility": "public",
  "roles": [],
  "methods": ["GET", "HEAD"],
  "auth": "none"
}
