{
  "name": "UUIDs",
  "version": "v2",
  "path": "/uuids/v2",
  "url": "{{ core_api_protocol }}://{{ tenant_id }}.api.{{ agave_env }}.agaveapi.co:{{ core_api_port }}/uuids",
  "visibility": "public",
  "roles": [],
  "methods": ["GET", "POST", "HEAD"],
  "auth": "oauth"
}
