version: '2'

services:
  togo:
    image: agaveplatform/agave-togo:latest
    restart: on-failure
    environment:
      - 'DOCUMENT_ROOT=/var/www/html'
      - 'LOG_TARGET_STDOUT=1'
    ports:
      - '80:80'
    volumes:
      {% if agave_togo_static_mount_source_from_disk is True %}
      - '.:/var/www/html:ro'
      {% else %}
      - '/home/apim/togo/auth/scripts/implicit.js:/var/www/html/auth/scripts/implicit.js:ro'
      {% endif %}
    labels:
      - "traefik.backend=togo"
      - "traefik.frontend.rule=Host:{{ agave_togo_static_hostname }}"
      - "traefik.port=80"
      - "traefik.protocol=http"
      - "traefik.frontend.entryPoints=https,http"
    networks:
      - togo

networks:
  togo