version: '3.2'

services:

  traefik:
    userns_mode: "host"
    image: traefik:latest
    restart: on-failure
    ports:
      - "80:80"
      - "443:443"
      - "8443:8443"
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - {{ togo_static_deployment_directory }}/traefik.toml:/etc/traefik/traefik.toml
      - {{ togo_static_deployment_directory }}/ssl:/ssl
      - {{ togo_static_deployment_directory }}/logs/traefik:/logs
    networks:
      - togo
    mem_limit: 512m
    restart: on-failure

  togo:
    userns_mode: "host"
    image: agaveplatform/agave-togo:latest
    restart: on-failure
    hostname: {{ togo_public_hostname_or_ip }}
    environment:
      - 'DOCUMENT_ROOT=/var/www/html'
      - 'LOG_TARGET_STDOUT=1'
    volumes:
{% if agave_togo_static_mount_source_from_disk|bool %}
      - '{{ togo_static_deployment_directory }}/agave-togo:/var/www/html:ro'
{% else %}
      - '{{ togo_static_deployment_directory }}/implicit.js:/var/www/html/auth/scripts/implicit.js:ro'
{% endif %}
    labels:
      - "traefik.backend=togo"
      - "traefik.frontend.rule=Host:{{ togo_public_hostname_or_ip }}"
      - "traefik.port=80"
      - "traefik.protocol=http"
      - "traefik.frontend.entryPoints=https,http"
    networks:
      - togo

networks:
  togo: