var OAuthClients = {
  {% for value in agave_togo_static_implicit_auth_config %}
  "{{ value.code }}": {
{% if 'base_url' in value %}
    "baseUrl": "{{ value.base_url }}",
{% endif %}
    "clientKey": "{{ value.client_key }}",
    "callbackUrl": "{{ value.callback_url }}",
    "scope": "{{ value.scope }}",
    "projectUrl": "{{ value.project_url }}",
    "supportUrl": "{{ value.support_url }}",
    "signupUrl": "{{ value.signup_url }}",
    "allowsSignup": {% if 'allow_signup' in value and value.allow_signup|bool %}true{% else %}false{% endif %}
  }{% endfor %}
  {% for key, value in agave_togo_static_additional_implicit_auth_config.items() %}
  ,"{{ value.code }}": {
{% if 'base_url' in value %}
    "baseUrl": "{{ value.base_url }}",
{% endif %}
    "clientKey": "{{ value.client_key }}",
    "callbackUrl": "{{ value.callback_url }}",
    "scope": "{{ value.scope }}",
    "projectUrl": "{{ value.project_url }}",
    "supportUrl": "{{ value.support_url }}",
    "signupUrl": "{{ value.signup_url }}",
    "allowsSignup": {% if 'allow_signup' in value and value.allow_signup|bool %}true{% else %}false{% endif %}
  }
  {% endfor %}
};
