mysql_core:
  image: mysql:5.6
  restart: always
{% if mysql_mem_limit %}   
  mem_limit: {{ mysql_mem_limit }}
{% endif %}
  ports:
    - '{{mysql_core_port|default('3301')}}:3306'
  volumes:
    - /home/apim/my.cnf:/etc/mysql/my.cnf
    - /home/apim/mysql_core_data:/var/lib/mysql
  environment:
    MYSQL_DATABASE: agave-api
    MYSQL_USER: {{ mysql_core_user }}
    MYSQL_ROOT_PASSWORD: {{ mysql_root_password }}
    MYSQL_PASSWORD: {{ mysql_core_password }}

mysql_auth:
  image: mysql:5.6
  restart: always
{% if mysql_mem_limit %}
  mem_limit: {{ mysql_mem_limit }}
{% endif %}
  ports:
    - '{{mysql_port}}:3306'
  volumes:
    - /home/apim/my.cnf:/etc/mysql/my.cnf
    - /home/apim/mysql_auth_data:/var/lib/mysql
  environment:
    MYSQL_USER: {{mysql_tenant_user}}
    MYSQL_ROOT_PASSWORD: {{ mysql_root_password }}
    MYSQL_PASSWORD: {{ mysql_tenant_pass }}

mongo:
  image: agaveplatform/mongodb:2.6
  restart: always
{% if mongo_mem_limit %}
  mem_limit: {{ mongo_mem_limit }}
{% endif %}
  ports:
    - '{{mongodb_port}}:27017'
  volumes:
    - /home/apim/mongo_data:/data
  environment:
    MONGODB_USERNAME: {{ mongodb_user }}
    MONGODB_PASSWORD: {{ mongodb_password }}

beanstalk:
  image: agaveplatform/beanstalkd
  restart: always
  ports:
    - '{{messaging_port}}:11300'
  volumes:
    - /home/apim/beanstalkd_data:/var/log/beanstalkd

slapd:
  image: agaveplatform/slapd
  restart: always
  ports:
    - "389:389"
  environment:
      LDAP_DOMAIN: agaveapi
      LDAP_ORGANISATION: "Agave"
      LDAP_ROOTPASS: {{ auth_ldap_bind_password }}
  volumes:
   - /home/apim/slapd_data:/data/ldap
