#!/usr/bin/env bash

export PATH=$PATH:{{agave_cli_deployment_directory}}/bin
export AGAVE_TENANTS_API_BASEURL=https://{{tenant_public_domain_or_ip}}/tenants
export AGAVE_CACHE_DIR=$HOME/{{tenant_id}}