###############################################################
# Core Science APIs - B Instances
# docker-compose.yml
#
# This contains the B instances of an A/B deployment. These
# services start on a 7xxx port range and block a high range of
# ports.
#
###############################################################

###############################################################
#   Agave Core Services (B instance)
###############################################################


{% if core_deploy_jobs %}
jobs:
  extends:
    file: docker-compose.yml
    service: jobs
  ports:
    - "7081:80"
    - "7444:443"
    - "50018-50027:50018-50027"
  environment:
    - 'GLOBUS_TCP_PORT_RANGE=50018,50027'
{% endif %}

{% if core_deploy_files %}
files:
  extends:
    file: docker-compose.yml
    service: files
  ports:
    - "7082:80"
    - "7445:443"
    - "50311-50320:50311-50320"
  environment:
    - 'GLOBUS_TCP_PORT_RANGE=50311,50320'
{% endif %}

{% if core_deploy_apps %}
apps:
  extends:
    file: docker-compose.yml
    service: apps
  ports:
    - "7083:80"
    - "7446:443"
    - "50911-50920:50911-50920"
  environment:
    - 'GLOBUS_TCP_PORT_RANGE=50911,50920'
{% endif %}

{% if core_deploy_systems %}
systems:
  extends:
    file: docker-compose.yml
    service: systems
  ports:
    - "7084:80"
    - "7447:443"
{% endif %}

{% if core_deploy_monitors %}
monitors:
  extends:
    file: docker-compose.yml
    service: monitors
  ports:
    - "7085:80"
    - "7448:443"
{% endif %}

{% if core_deploy_metadata %}
metadata:
  extends:
    file: docker-compose.yml
    service: metadata
  ports:
    - "7087:80"
    - "7450:443"
{% endif %}

{% if core_deploy_notifications %}
notifications:
  extends:
    file: docker-compose.yml
    service: notifications
  ports:
    - "7088:80"
    - "7451:443"
{% endif %}

{% if core_deploy_transforms %}
transforms:
  extends:
    file: docker-compose.yml
    service: transforms
  ports:
    - "7098:80"
    - "7461:443"
    - "50611-50620:50611-50620"
  environment:
    - 'GLOBUS_TCP_PORT_RANGE=50611,50620'
{% endif %}

{% if core_deploy_tags %}
tags:
  extends:
    file: service-defs.yml
    service: tags
  ports:
    - "7077:80"
    - "7460:443"
{% endif %}

{% if core_deploy_uuids %}
uuids:
  extends:
    file: service-defs.yml
    service: uuids
  ports:
    - "7078:80"
    - "7459:443"
{% endif %}

{% if core_deploy_realtime %}
realtime:
  extends:
    file: service-defs.yml
    service: realtime
  ports:
    - "7076:80"
    - "7458:443"
{% endif %}

{% if core_deploy_postits %}
postits:
  extends:
    file: docker-compose.yml
    service: postits
  ports:
    - "7090:80"
    - "7453:443"
{% endif %}

{% if core_deploy_usage %}
usage:
  extends:
    file: docker-compose.yml
    service: usage
  ports:
    - "7091:80"
    - "7454:443"
{% endif %}

{% if core_deploy_tenants %}
tenants:
  extends:
    file: docker-compose.yml
    service: tenants
  ports:
    - "7092:80"
    - "7455:443"
{% endif %}

{% if core_deploy_logging %}
logging:
  extends:
    file: docker-compose.yml
    service: logging
  ports:
    - "7093:80"
    - "7456:443"
{% endif %}

{% if core_deploy_docs %}
docs:
  extends:
    file: docker-compose.yml
    service: docs
  ports:
    - "7094:80"
    - "7457:443"
{% endif %}

{% if core_deploy_custom_profiles and not agave_core_workers_only %}
profiles:
  extends:
    file: service-defs.yml
    service: profiles
  ports:
    - "7086:80"
    - "7449:443"
{% endif %}

{% if core_deploy_stats %}
stats:
  extends:
    file: docker-compose.yml
    service: stats
  ports:
    - "7099:80"
    - "7462:443"

reverseip:
  extends:
    file: docker-compose.yml
    service: reverseip

redis:
  extends:
    file: docker-compose.yml
    service: redis
  volumes:
    - ./cache/redis_b:/data
{% endif %}