---
###############################################################
# Core Science APIs - Sandbox
# docker-compose.yml
#
# This is the orchestration file to start Agave's Core Science
# APIs. The APIs are accessible behind a proxy container which
# shields them from the outside world. Containers are assigned
# static ports to enable rolling updates of each API as needed.
# Containers performing data operations are assigned a partition
# of the default GridFTP and FTP port ranges to enable proper
# operation of the protocol from within each container.
#
###############################################################

proxy:
{% if core_deploy_httpd_balancer %}
  image: agaveapi/apache-api-proxy:balancer
{% else %}
  image: {{ core_docker_private_registry }}{{ core_docker_registry_account }}/apache-api-proxy:alpine-dev
{% endif %}
  hostname: {{ agave_core_hostname }}
  ports:
    - '{{ agave_core_proxy_http_port }}:80'
    - '{{ agave_core_proxy_https_port }}:443'
  extra_hosts:
{% if core_deploy_httpd_balancer %}
    - "a.proxy.host:{{ agave_proxy_core_ip }}"
    - "b.proxy.host:{{ agave_proxy_core_ip }}"
{% else %}
    - "proxy.host:{{ agave_proxy_core_ip }}"
{% endif%}
  environment:
    - 'BALANCER_WHITELIST=129.114'
    - 'STATUS_WHITELIST=129.114'
    - 'LOG_LEVEL_INFO=1'
{% if core_deploy_ssl_certs %}
    - 'SSL_CERT=/ssl/{{ agave_core_ssl_cert }}'
    - 'SSL_KEY=/ssl/{{ agave_core_ssl_key }}'
{% if agave_core_ca_cert %}
    - 'SSL_CA_CERT=/ssl/{{ agave_core_ca_cert }}'
{% endif %}
{% endif %}
  volumes:
    - '/home/apim/logs/proxy:/var/log/apache2'
{% if core_deploy_ssl_certs %}
    - './ssl:/ssl:ro'
{% endif %}
