{"iss":"wso2.org/products/am","exp":{{ (ansible_date_time.epoch|int) + 86400 }},"http://wso2.org/claims/subscriber":"{{postman_username}}","http://wso2.org/claims/applicationid":"1","http://wso2.org/claims/applicationname":"newman-client","http://wso2.org/claims/applicationtier":"Unlimited","http://wso2.org/claims/apicontext":"/postman","http://wso2.org/claims/version":"2.0","http://wso2.org/claims/tier":"Unlimited","http://wso2.org/claims/keytype":"PRODUCTION","http://wso2.org/claims/usertype":"APPLICATION_USER","http://wso2.org/claims/enduser":"{{postman_username}}","http://wso2.org/claims/enduserTenantId":"-9999", "http://wso2.org/claims/emailaddress":"{{ postman_email }}", "http://wso2.org/claims/fullname":"{{postman_username}}", "http://wso2.org/claims/givenname":"", "http://wso2.org/claims/lastname":"{{postman_username}}", "http://wso2.org/claims/primaryChallengeQuestion":"N/A", "http://wso2.org/claims/role":"Internal/everyone", "http://wso2.org/claims/title":"N/A"}