#jinja2:variable_start_string:'[%' , variable_end_string:'%]', trim_blocks: False
{
	"id": "a95167cc-15f4-b9df-79c6-db7819a26d0c",
	"name": "Agave-Ansible",
	"values": [
		{
          "key": "USERNAME",
          "value": "[%newman_agave_test_user_username%]",
          "type": "text",
          "name": "USERNAME",
          "enabled": true
        },
        {
          "key": "PASSWORD",
          "value": "[%newman_agave_test_user_password%]",
          "type": "text",
          "name": "PASSWORD",
          "enabled": true
        },
        {
          "key": "USER_FIRST_NAME",
          "value": "[%newman_agave_test_user_first_name%]",
          "type": "text",
          "name": "USER_FIRST_NAME",
          "enabled": true
        },
        {
          "key": "USER_LAST_NAME",
          "value": "[%newman_agave_test_user_last_name%]",
          "type": "text",
          "name": "USER_LAST_NAME",
          "enabled": true
        },
        {
          "key": "USER_FULL_NAME",
          "value": "[%newman_agave_test_user_full_name%]",
          "type": "text",
          "name": "USER_FULL_NAME",
          "enabled": true
        },
        {
          "key": "USER_STATUS",
          "value": "Active",
          "type": "text",
          "name": "USER_STATUS",
          "enabled": true
        },
        {
          "key": "USER_EMAIL",
          "value": "[%newman_agave_test_user_email%]",
          "type": "text",
          "name": "USER_EMAIL",
          "enabled": true
        },
        {
          "key": "SHARE_USERNAME",
          "value": "testshareuser",
          "type": "text",
          "name": "SHARE_USERNAME",
          "enabled": true
        },
		{
			"key": "BASEURL",
			"value": "https://[%newman_agave_tenant_base_hostname%]",
			"type": "text",
			"name": "BASEURL",
			"enabled": true
		},
		{
			"key": "TENANT_CODE",
			"value": "[%tenant_id%]",
			"type": "text",
			"enabled": true
		},
		{
			"key": "JWT_HEADER_NAME",
			"value": "XXX",
			"type": "text",
			"enabled": true
		},
		{
			"key": "JWT_HEADER_VALUE",
			"value": "XXX",
			"type": "text",
			"enabled": true
		},
		{
			"key": "BASIC_AUTHORIZATION_TYPE",
			"value": "null",
			"type": "text",
			"name": "BASIC_AUTHORIZATION_TYPE",
			"enabled": true
		},
		{
			"key": "BASIC_AUTHORIZATION_TOKEN",
			"value": "null",
			"type": "text",
			"name": "BASIC_AUTHORIZATION_TOKEN",
			"enabled": true
		},
		{
			"key": "BASIC_AUTHORIZATION_USER_TOKEN",
			"value": "null",
			"type": "text",
			"name": "BASIC_AUTHORIZATION_USER_TOKEN",
			"enabled": true
		},
		{
			"key": "AUTHORIZATION_TYPE",
			"value": "Bearer",
			"type": "text",
			"name": "AUTHORIZATION_TYPE",
			"enabled": true
		},
		{
			"key": "AUTHORIZATION_TOKEN",
			"value": "null",
			"type": "text",
			"name": "AUTHORIZATION_TOKEN",
			"enabled": true
		},
		{
			"key": "AUTHORIZATION_TOKEN_STRING",
			"value": "{{AUTHORIZATION_TYPE}} {{AUTHORIZATION_TOKEN}}",
			"type": "text",
			"name": "AUTHORIZATION_TOKEN_STRING",
			"enabled": true
		},
		{
			"key": "SCOPE",
			"value": "PRODUCTION",
			"type": "text",
			"name": "SCOPE",
			"enabled": true
		},
		{
			"key": "TENANT_BASEURL",
			"value": "{{BASEURL}}",
			"type": "text",
			"name": "TENANT_BASEURL",
			"enabled": true
		},
		{
			"key": "AUTHORIZATION_URL",
			"value": "{{BASEURL}}/authorize",
			"type": "text",
			"name": "AUTHORIZATION_URL",
			"enabled": true
		},
		{
			"key": "AUTHORIZATION_TOKEN_URL",
			"value": "{{BASEURL}}/token",
			"type": "text",
			"name": "AUTHORIZATION_TOKEN_URL",
			"enabled": true
		},
		{
			"key": "STORAGE_UUID",
			"value": "",
			"type": "text",
			"name": "STORAGE_UUID",
			"enabled": true
		},
		{
			"key": "TEST_DATE",
			"value": "%%TEST_DATE%%",
			"type": "text",
			"name": "TEST_DATE",
			"enabled": true
		},
		{
			"key": "TEST_DIR",
			"value": "null",
			"type": "text",
			"name": "TEST_DIR",
			"enabled": true
		},
		{
			"key": "TEST_DIR_ENCODED",
			"value": "null",
			"type": "text",
			"name": "TEST_DIR_ENCODED",
			"enabled": true
		},
		{
			"key": "APPS_SERVICE",
			"value": "apps",
			"type": "text",
			"name": "APPS_SERVICE",
			"enabled": true
		},
		{
			"key": "APPS_VERSION",
			"value": "v2/",
			"type": "text",
			"name": "APPS_VERSION",
			"enabled": true
		},
		{
			"key": "APPS_ID",
			"value": null,
			"type": "text",
			"name": "APPS_ID",
			"enabled": true
		},
		{
			"key": "CLIENTS_SERVICE",
			"value": "clients",
			"type": "text",
			"name": "CLIENTS_SERVICE",
			"enabled": true
		},
		{
			"key": "CLIENTS_VERSION",
			"value": "v2/",
			"type": "text",
			"name": "CLIENTS_VERSION",
			"enabled": true
		},
		{
			"key": "FILES_SERVICE",
			"value": "files",
			"type": "text",
			"name": "FILES_SERVICE",
			"enabled": true
		},
		{
			"key": "FILES_VERSION",
			"value": "v2/",
			"type": "text",
			"name": "FILES_VERSION",
			"enabled": true
		},
		{
			"key": "JOBS_SERVICE",
			"value": "jobs",
			"type": "text",
			"name": "JOBS_SERVICE",
			"enabled": true
		},
		{
			"key": "JOBS_VERSION",
			"value": "v2/",
			"type": "text",
			"name": "JOBS_VERSION",
			"enabled": true
		},
		{
			"key": "JOBS_ID",
			"value": "null",
			"type": "text",
			"name": "JOBS_ID",
			"enabled": true
		},
		{
			"key": "META_SERVICE",
			"value": "meta",
			"type": "text",
			"name": "META_SERVICE",
			"enabled": true
		},
		{
			"key": "META_VERSION",
			"value": "v2/",
			"type": "text",
			"name": "META_VERSION",
			"enabled": true
		},
		{
			"key": "META_UUID",
			"value": null,
			"type": "text",
			"name": "META_UUID",
			"enabled": true
		},
		{
			"key": "META_SCHEMA_UUID",
			"value": null,
			"type": "text",
			"name": "META_SCHEMA_UUID",
			"enabled": true
		},
		{
			"key": "MONITORS_SERVICE",
			"value": "monitors",
			"type": "text",
			"name": "MONITORS_SERVICE",
			"enabled": true
		},
		{
			"key": "MONITORS_VERSION",
			"value": "v2/",
			"type": "text",
			"name": "MONITORS_VERSION",
			"enabled": true
		},
		{
			"key": "MONITORS_ID",
			"value": "",
			"type": "text",
			"name": "MONITORS_ID",
			"enabled": true
		},
		{
			"key": "MONITORS_CHECK",
			"value": null,
			"type": "text",
			"name": "MONITORS_CHECK",
			"enabled": true
		},
		{
			"key": "NOTIFICATIONS_SERVICE",
			"value": "notifications",
			"type": "text",
			"name": "NOTIFICATIONS_SERVICE",
			"enabled": true
		},
		{
			"key": "NOTIFICATIONS_VERSION",
			"value": "v2/",
			"type": "text",
			"name": "NOTIFICATIONS_VERSION",
			"enabled": true
		},
		{
			"key": "POSTITS_SERVICE",
			"value": "postits",
			"type": "text",
			"name": "POSTITS_SERVICE",
			"enabled": true
		},
		{
			"key": "POSTITS_VERSION",
			"value": "v2/",
			"type": "text",
			"name": "POSTITS_VERSION",
			"enabled": true
		},
		{
			"key": "POSTITS_NONCE",
			"value": "",
			"type": "text",
			"name": "POSTITS_NONCE",
			"enabled": true
		},
		{
			"key": "POSTITS_URI",
			"value": "",
			"type": "text",
			"name": "POSTITS_URI",
			"enabled": true
		},
		{
			"key": "PROFILES_SERVICE",
			"value": "profiles",
			"type": "text",
			"name": "PROFILES_SERVICE",
			"enabled": true
		},
		{
			"key": "PROFILES_VERSION",
			"value": "v2/",
			"type": "text",
			"name": "PROFILES_VERSION",
			"enabled": true
		},
		{
			"key": "SYSTEMS_SERVICE",
			"value": "systems",
			"type": "text",
			"name": "SYSTEMS_SERVICE",
			"enabled": true
		},
		{
			"key": "SYSTEMS_VERSION",
			"value": "v2/",
			"type": "text",
			"name": "SYSTEMS_VERSION",
			"enabled": true
		},
		{
			"key": "TRANSFORMS_SERVICE",
			"value": "transforms",
			"type": "text",
			"name": "TRANSFORMS_SERVICE",
			"enabled": true
		},
		{
			"key": "TRANSFORMS_VERSION",
			"value": "v2/",
			"type": "text",
			"name": "TRANSFORMS_VERSION",
			"enabled": true
		},
        {
          "key": "UUID_SERVICE",
          "value": "uuids",
          "type": "text",
          "name": "UUID",
          "enabled": true
        },
        {
          "key": "UUID_VERSION",
          "value": "v2/",
          "type": "text",
          "name": "UUID_VERSION",
          "enabled": true
        },
        {
          "key": "TAGS_SERVICE",
          "value": "tags",
          "type": "text",
          "name": "TAGS_SERVICE",
          "enabled": true
        },
        {
          "key": "TAGS_VERSION",
          "value": "v2/",
          "type": "text",
          "name": "TAGS_VERSION",
          "enabled": true
        },
        {
          "key": "SKIP_FRONTEND",
          "value": "%%SKIP_FRONTEND%%",
          "type": "text",
          "name": "SKIP_FRONTEND",
          "enabled": true
        },
        {
          "key": "SKIP_TO_TEST",
          "value": "%%SKIP_TO_TEST%%",
          "type": "text",
          "name": "SKIP_TO_TEST",
          "enabled": true
        },
        {
          "key": "SAVE_INIT_ENVIRONMENT_VARIABLES",
          "value": "var apiNames=Object.select(environment,/_SERVICE$/);Object.keys(apiNames).forEach(function(a){var b=a.replace(/_SERVICE/,'_VERSION');Object.has(environment,b)||postman.setEnvironmentVariable(b,'')});",
          "type": "text",
          "name": "SAVE_INIT_ENVIRONMENT_VARIABLES",
          "enabled": true
        }
	],
    "team": null,
    "timestamp": 1464898184591,
    "synced": false,
    "syncedFilename": "",
    "isDeleted": false
}
