#!/bin/bash

docker pull agaveplatform/haproxy_auth:{{ haproxy_auth_version }}
docker pull agaveplatform/apim19_base:{{ apim19_base_version }}
docker pull agaveplatform/apim_httpd:{{ apim_httpd_version }}
docker pull agaveplatform/agave_clients_dedicated:{{ agave_clients_dedicated_version }}
docker pull {{ agave_id_image }}:{{ agave_id_dedicated_version }}
docker pull agaveplatform/flask_admin_services:{{ flask_admin_services_version }}
docker pull agaveplatform/admin_services_nginx:{{ admin_services_nginx_version }}
