
version: '2'

services:

################################################################
# Jenkins Reverse Proxy - Traefik
################################################################

  traefik:
    image: traefik:latest
    hostname: {{ jenkins_hostname }}
    restart: on-failure
    ports:
      - "80:80"
      - "443:443"
      - "8443:8443"
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - {{ jenkins_host_deployment_dir }}/jenkins.toml:/etc/traefik/traefik.toml
      - {{ jenkins_host_deployment_dir }}/ssl:/ssl
    networks:
      - jenkins
    mem_limit: 512m
    restart: on-failure

networks:
  jenkins:
